@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&family=Monoton&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: "Bellota Text", cursive;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  overflow-x: hidden;
}

/* Header Section */
.header-section {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: relative;
}

.floating-bg {
  width: 150vw;
  height: 150vw;
  background-color: rgba(50, 231, 255, 0.8);
  position: absolute;
  top: -125vw;
  left: calc(50% - 75vw);
  border-radius: 45%;
  animation: rotateBg 30s infinite;
}

.floating-bg::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(50, 231, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 40%;
  animation: rotateBg 30s infinite;
}

@keyframes rotateBg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.navbar {
  position: relative;
  z-index: 100;
  top: 4rem;
  display: flex;
  justify-content: space-evenly;
}

.navbar-link {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: white;
  width: 1.5rem;
  word-wrap: break-word;
  text-align: center;
  transition: all 0.5s;
}
.navbar-link:hover {
  width: 15rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 2.5s;
}

.header-heading {
  font-size: 8rem;
  font-family: "Monoton", cursive;
  position: absolute;
  top: 18vw;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0.3rem 0.3rem 0.3rem #888;
  color: white;
  background-color: white;
  width: 85rem;
  text-align: center;
  padding: 0.8rem 1.6rem;
  border-radius: 0.8rem;
  opacity: 0.9;
}

.logo {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.logo i {
  font-size: 15rem;
  color: rgba(50, 231, 255, 0.8);
  text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}
/* End of Header Section */

/* Customer Section */
.customer-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.customer-heading {
  font-size: 10rem;
  color: #999999;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.1;
  text-shadow: 2rem 2rem 4rem #aaaaaa;
}

.customers-wrapper {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.customer {
  width: 35rem;
  height: 50rem;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: box-shadow 0.5s;
}

.customer:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.customer:first-child {
  align-self: flex-end;
}
.customer:last-child {
  align-self: flex-start;
}

.fa-quote-left {
  font-size: 4rem;
  color: #f08e0f;
}

.customer-text {
  font-size: 1.8rem;
  margin: 2.5rem 0;
  text-align: justify;
}

.customer-text::first-letter {
  margin-left: 1.5rem;
}

.customer-rating i {
  font-size: 2rem;
  color: #f08e0f;
}

.customer-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin: 2rem 0;
  border-radius: 50%;
}

.customer-name {
  font-size: 2rem;
  font-weight: 700;
}
/* End of customer section */

/* Team Section */
.team-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
}

.team-heading {
  font-size: 10rem;
  color: #999999;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.1;
  text-shadow: 2rem 2rem 4rem #aaaaaa;
}

.team-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70%;
}
.team-member {
  position: relative;
  width: 35rem;
  background-color: #fffeee;
  padding: 1rem 1rem 2rem 1rem;
  box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.team-member:hover {
  opacity: 1;
}

.team-member:first-child {
  align-self: flex-start;
}
.team-member:last-child {
  align-self: flex-end;
}

.team-member-img {
  width: 100%;
  border-radius: 0.5rem;
}

.team-member-name {
  font-size: 2.3rem;
  font-weight: 700;
  color: #796717;
  margin-top: 2rem;
}

.team-member-name span {
  font-size: 1.7rem;
}

.team-member-skills {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
}

.team-member-skills li {
  color: #505050;
  font-size: 1.5rem;
}

.projects-btn {
  background-color: #fab34a;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.story-btn {
  width: 4rem;
  height: 4rem;
  background-color: #222;
  padding: 0.5rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: transform 0.5s;
}

.change.story-btn {
  transform: rotate(405deg);
}

.story-btn-line {
  width: 100%;
  height: 0.1rem;
  background-color: white;
}

.story {
  width: 100%;
  height: 100%;
  background-color: rgba(253, 69, 69, 0.9);
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 50rem 0 50rem 50rem;
  transform-origin: top right;
  transform: scale(0);
  transition: all 0.5s;
}

.change.story {
  transform: scale(1);
  border-radius: 0;
}

.story-heading {
  font-size: 4rem;
  font-weight: 700;
  color: white;
  margin-bottom: 2rem;
}

.story-paragraph {
  font-size: 1.8rem;
  color: #eee;
  text-align: justify;
  letter-spacing: 0.1rem;
  text-indent: 2rem;
}
/* End of Team Section */

/* contact section */
.contact-section {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.contact-heading {
  font-size: 10rem;
  color: #999999;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.1;
  text-shadow: 2rem 2rem 4rem #aaaaaa;
}

.form-container {
  width: 80%;
  height: 40%;
  background-color: #e5e9ff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
  border-radius: 0.5rem;
  perspective: 100rem;
}

.form-img {
  width: 55rem;
  background-color: rgba(50, 231, 255, 0.8);
  padding: 5rem;
  opacity: 0.8;
  box-shadow: -3rem 3rem 4rem #aaa;
  border-radius: 0.5rem;
  transform: rotateY(20deg);
  transition: all 0.5s;
}

.form-img:hover {
  transform: translateY(-2rem) rotateY(20deg);
  box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form {
  width: 45rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 3rem 3rem 4rem #aaa;
  transform: rotateY(-20deg);
  transition: all 0.5s;
}

.contact-form:hover {
  transform: translateY(-2rem) rotateY(-20deg);
  box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea {
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
}

.contact-form input[type="submit"] {
  background-color: rgba(50, 231, 255, 0.8);
  color: white;
  font-weight: bolder;
  cursor: pointer;
  letter-spacing: 0.5rem;
  transition: background-color 0.5s;
}

.contact-form input[type="submit"]:hover {
  background-color: #32e7ff;
}

.contact-form textarea {
  max-width: 100%;
  min-width: 70%;
  max-height: 15rem;
  min-height: 10rem;
}

.copyright {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: #444;
  margin-top: 5rem;
}
/* end of contact section */

/* up arrow btn */
.scroll-up-btn {
  width: 5rem;
  height: 5rem;
  background-color: rgba(50, 231, 255, 0.8);
  border-radius: 50%;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  font-size: 1.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.scroll-up-btn:hover {
  background-color: #32e7ff;
  transform: scale(1.2);
}
/* end of up arrow btn */

/* Responsive design */
@media (max-width: 1400px) {
  .floating-bg {
    top: -120vw;
  }
  .header-heading {
    font-size: 6rem;
    top: 25vw;
    width: 70rem;
  }

  .navbar-link {
    font-size: 2rem;
  }

  .logo {
    top: 75%;
  }

  .logo i {
    font-size: 10rem;
  }

  .customer-section {
    height: auto;
  }
  .customer-heading,
  .team-heading,
  .contact-heading {
    font-size: 8rem;
    margin-bottom: 10rem;
  }

  .customers-wrapper,
  .team-wrapper {
    flex-wrap: wrap;
  }

  .customer,
  .team-member {
    margin: 5rem 10rem;
  }

  .team-section {
    height: auto;
  }

  .form-container {
    height: 60%;
  }

  .form-img {
    display: none;
  }

  .contact-form {
    transform: translateY(0);
  }

  .contact-form:hover {
    transform: translateY(-1rem);
  }

  .copyright {
    margin: 5rem 0 4rem 0;
  }
}

@media (max-width: 1150px) {
  .floating-bg {
    top: -110vw;
  }

  .header-heading {
    font-size: 5rem;
    top: 30vw;
    width: 60rem;
  }

  .logo i {
    font-size: 9rem;
  }

  .customer-heading,
  .team-heading,
  .contact-heading {
    margin-bottom: 5rem;
  }
}
/* End of responsive design */
